<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Cấu hình IP và Cổng mạng lắng nghe của TCP Server -->
    <add key="ServerIP" value="0.0.0.0" />
    <add key="ServerPort" value="5000" />
    
    <!-- Các ràng buộc dữ liệu & an toàn hệ thống -->
    <add key="MaxMessageLength" value="5000" />
    <add key="MaxAvatarSizeKB" value="50" />
  </appSettings>
</configuration>
